.gitattributes
desktop.ini

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

source/CMakeLists.txt

source/build
source/build/*

source/CMakeLists.txt
source/CMakeLists.txt
source/build/synGranul~/cmake_install.cmake
source/build/rand_dist_list~/cmake_install.cmake
source/build/rand_dist_list/cmake_install.cmake
source/build/mc.bufGranul~/cmake_install.cmake
source/build/liveGranul~/cmake_install.cmake
source/build/idleubutton/cmake_install.cmake
source/build/CMakeFiles/TargetDirectories.txt
source/build/CMakeFiles/CMakeOutput.log
source/build/CMakeCache.txt
source/build/cmake_install.cmake
source/build/bargraf~/cmake_install.cmake
